/**** Global  ****/
nav {
	float: left;
	position: fixed;
	display: inline-block;
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: 99;
	background-color: #FFF;
	padding: 2% 0 1% 5%;
}

nav a {
	margin: 2px;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 12px;
	padding: 2px 4px;
}

table {
	margin-top: 50px;
}

#name {
	font-size: 16px;
	margin-bottom: 5px;
}

#onview {

}

a {
	color: #000;
	font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; 
	font-size: 16px; 
	text-decoration: none; 
	line-height: 20px
}

a:hover {
	color: #DFD3D3;
}

#container {
	margin-left: 6%;
	float: left;
	position: relative;
	top: 110px;
	margin-bottom: 20px;
	width: 80%;
}



.blacktext {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; color: #000000; text-decoration: none; line-height: 12px}









/*.magenta {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; color: #FFOOFF; text-decoration: none; line-height: 12px}
a.magenta:link {  text-decoration: none; color: #333333}
a.magenta:hover  {  text-decoration: none; color: #FF00FF}
a.magenta:active  {  text-decoration: underline; color: #000000}
a.magenta:visited {  text-decoration: none; color: #999999}
a.magenta:visited:hover { text-decoration: none; color: #FF00FF}
a.magenta:visited:active  {  text-decoration: none; color: #000000}

.green {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; color: #0ACC00; text-decoration: none; line-height: 12px}
a.green:link {  text-decoration: none; color: #333333}
a.green:hover  {  text-decoration: none; color: #0ACC00}
a.green:active  {  text-decoration: underline; color: #000000}
a.green:visited {  text-decoration: none; color: #999999}
a.green:visited:hover { text-decoration: none; color: #0ACC00}
a.green:visited:active  {  text-decoration: none; color: #000000}

.orange {  font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; font-size: 10px; color: #FC7E08; text-decoration: none; line-height: 12px}
a.orange:link {  text-decoration: none; color: #333333}
a.orange:hover  {  text-decoration: none; color: #FC7E08}
a.orange:active  {  text-decoration: underline; color: #000000}
a.orange:visited {  text-decoration: none; color: #999999}
a.orange:visited:hover { text-decoration: none; color: #FC7E08}
a.orange:visited:active  {  text-decoration: none; color: #000000}


*/
/*--a.orange:visited:selected {  text-decoration: none; font-weight: bold}*/